git:
  depth: false

language: node_js
node_js: 9

deploy:
  provider: script
  skip_cleanup: true
  script: ./publish.sh
  on:
    branch: master

notifications:
  irc:
    use_notice: true
    on_success: change
    on_failure: change
    skip_join: true
    channels:
      - chat.freenode.net#graphql

env:
  global:
    - secure: "gWnrL6F1q2WE3B9EuTCTTV88Be4GzcemUl9nVo7rx4f3xgaJcqvGQ9riPdAgNaZagU6Hw3h5W5uhR9WMYdX+8GKUM/250cJJSTsCHgbTnccwVu9/ivkEwEcScdiAh/BzMJm15tWWfj8BBM1bdGD8hN6HfI08OOToYWzo8x/0/LdcULRVEdCt3VspfvaHGULbikCxj/zX9N/+uXjlSwAbQgxLVz60A5ChaOtxfh9gwRqKJ53BTMB9UJbVVcTyPbrEYW/aOOk5XOHpbysJIYg6WLtBjXhVz8dws6nDI0Axp5wjDmYVXgAtvzESqfo9/TGN9RF3svHv/cUJ5qF14o8wyLa01xUBZ9THSOgm7++AsSOvKb0vp8eqyDpO+YGz5VdfYiqiEWWqo57CfBoa34f+pAvkrhUD/qkOfbIU2YuJ1lWpiRRWDB4n6gMavqpvKaYTfWY8wpMC3j+plNDr8QRUAJK3f7DG3vTiCxBhpid/eSqAeCPORr8uCM+CtCELiSI0tg5YCNgjXnZPpra9dYfI4QbN2xmulbP8duD4oqfwUkUUAGVCBo0AxH8+Yyr64Wfs8ZleAQRedbMmlsccT3853jPhYRMB1gpuN3QmIRsZYI+4tDiFaY2iLfJ4ZLiZfymKg9qKCqQWKN2gpn0yLGu+KaV7VbNlh9s8arZujSBJ/sE="
